
h1 {
	font-family: Tahoma;
}

h2 {
	font-family: Tahoma;
}

span {
	font-family: Tahoma;
}

label {
	font-family: Tahoma;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.validationError {
	font-family: Tahoma;
    color: red;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Tahoma;
	font-size: medium;
}

input[type=number] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-family: Tahoma;
	font-size: medium;
}

button {
	border: 1px solid #999;
	padding: 5px 15px;
	text-decoration: none;
	border-radius: 6px;
	margin: 8px 0;
	cursor: pointer;
	font-family: Tahoma;
	font-size: medium;
}

.block {
    text-align: center
}

.div_table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.div_table_info {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.form_radio_btn {
	display: inline-block;
	margin: 10px;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	font-family: Tahoma;
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}

/* Hover */
.form_radio_btn label:hover {
	color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.form_radio_group {
	display: inline-block;
	overflow: hidden;
}

.form_radio_group-item {
	display: inline-block;
	float: left;
}

.form_radio_group input[type=radio] {
	display: none;
}

.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-right: none;
	user-select: none;
}



.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}


/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
	color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}